body {
    background-color: #343438;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
    font-family: "consolas", Georgia, Serif;
    font-size: medium;
}
.modal-dialog {
    color: black;
}
.navbar-default {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    color: black;
    background-color: floralwhite;
}

.github-icon {
    width: 25%;
}

.nav navbar-nav navbar-right {
    float: right !important;
}

.search {
    width: 30%;
}

.anchor:hover {
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}

#new-employee {
    margin-left: 1%;
    width: 20%;
}

#default-contact {
    width: 10%;
}

h3 {
    margin-left: 1%;
}

h3:hover {
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}

big {
    text-decoration: underline;
    font-weight: bold;
}

.input-group {
    margin: 1%;
    width: 300px;
}

.contact-card {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 20px;
    color: black;
    width: 400px;
    padding: 1%;
    margin: 1%;
    text-align: left;
    background-color: #f5f5f3;
    display: inline-block;
}

.contact-card:hover {
    background-color: cornsilk;
    cursor: pointer;
    cursor: hand;
}

.contact-img {
    float: right;
    width: 70px;
    margin-top: 20px;
}

.manager-contact-img {
    display: block;
    float: right;
    width: 65px;
    height: 65px;
}